<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.quentin.security.mapper.FoodMapper">

    <select id="foodsByCategory" parameterType="String" resultType="Food">
        SELECT F.*
        FROM food_info I
                 join food F on I.food_id = F.food_id
                 join food_category C on I.cat_id = C.cat_id
        WHERE C.cat_label = #{category}
    </select>
</mapper>
